.front {
  margin-top: 3%;
  display: flex;
  margin-left: 55%;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 35px;
  display: grid;
  height: 400px;
  width: 700px;
}

.back {
  display: flex;
  margin-left: 55%;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 35px;
  display: grid;
  height: 400px;
  width: 700px;
}

.names{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  text-align: left;
  margin-top: 25px;
  margin-left: 25px;
}

.position{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  display: flex;
  text-align: left;
  margin-left: 25px;
  margin-top: 0px;
}

.company{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  text-align: left;
  margin-left: 25px;
  margin-top: 115px;
}

